:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
label {
  font-size: 1.2rem;
  color: var(--clr-primary-1);
}
input {
  padding: 0.25rem 0.5rem;
  width: 4rem;
  border-radius: var(--radius);
  border: none;
  margin: 0 0.5rem;
  font-size: 1.25rem;
}
.graphButton {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-primary-1);
  padding: 0.375rem 0.75rem;
  letter-spacing: 1px;
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-primary-5);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  margin-right: 0.5rem;
}
.graphButton:hover {
  color: var(--clr-primary-5);
  background: var(--clr-primary-8);
  border-color: var(--clr-primary-8);
}
.graphContainer {
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section {
  padding: 5rem 0;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 40rem;
  margin-top: 2rem;
  text-align: center;
}
.graph {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.companyMenu {
  display: flex;
  justify-content: left;
  align-items: center;
}
.companyButton {
  text-transform: uppercase;
  background: var(--clr-primary-6);
  color: var(--clr-primary-2);
  padding: 0.375rem 0.75rem;
  letter-spacing: 1px;
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-primary-6);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  margin-right: 0.5rem;
}
.companyButton:hover {
  color: var(--clr-primary-6);
  background: var(--clr-primary-9);
  border-color: var(--clr-primary-9);
}
.purchaseButton {
  text-transform: uppercase;
  background: var(--clr-green-dark);
  color: var(--clr-black);
  padding: 0.375rem 0.75rem;
  letter-spacing: 1px;
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-green-dark);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  margin-right: 0.5rem;
}
.purchaseButton:hover {
  color: var(--clr-grey-5);
  background: var(--clr-green-light);
  border-color: var(--clr-green-light);
}
.purchaseBox {
  margin-top: 2rem;
}
.topRightFixed {
  position: fixed;
  top: 0;
  right: 0;
  background: var(--clr-grey-9);
  padding: 6px;
  color: var(--clr-black);
  font-size: 1.4em;
  z-index: 100;
  border-radius: 10px;
}
.purchasedBox {
  height: 100%; /* full height of the content box */
  max-height: 7em;
  overflow: scroll;
  overflow-x: hidden;
}
.exitButton {
  text-transform: uppercase;
  background: var(--clr-red-dark);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: 1px;
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-red-dark);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  margin-right: 0.5rem;
}
.exitButton:hover {
  color: var(--clr-grey-5);
  background: var(--clr-red-light);
  border-color: var(--clr-red-light);
}
.purchasedItem {
  border-radius: 10px;
  background: var(--clr-grey-8);
  max-width: 9em;
}
